In [ ]:
# Problem 2: Creating the dataframe

In [ ]:
# Read the geospatial data

In [32]:
import pandas as pd
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [33]:
geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)

In [34]:
# Read the neighborhood data created in Problem 1

In [35]:
wiki_df=pd.read_csv("wiki.csv")

In [36]:
wiki_df.head()

,Unnamed: 0,Postalcode,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [37]:
# Merge the two dataframes

In [38]:
geo_merged = pd.merge(geo_df, wiki_df, on='Postalcode')
geo_merged.head()

,Postalcode,Latitude,Longitude,Unnamed: 0,Borough,Neighborhood
0,M1B,43.806686,-79.194353,9,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,18,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,27,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,36,Scarborough,Woburn
4,M1H,43.773136,-79.239476,45,Scarborough,Cedarbrae

In [39]:
del geo_merged['Unnamed: 0']

In [41]:
geo_data=geo_merged[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]

In [42]:
geo_data.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [43]:
# save the dataframe for Problem 3

In [44]:
geo_data.to_csv("geo_data.csv")